
<!--<div class="col-md-4"></div>-->
<!--<div class="col-md-4" style="height: 100px;"></div>-->
<!--<div class="col-md-4"></div>-->

<!--</div>-->

<!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
  <!--<div class="row">-->
<!--<div class="col-md-4"></div>-->
<!--<div class="col-md-4" style="height: 300px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">-->
  <!--<text font-size="55" x="-40" y="80" style="stroke:none; fill:#000000;" transform="scale(-1, 1) rotate(30)">R</text>-->
<!--</svg></div>-->
<!--<div class="col-md-4"></div>-->

  <!--</div>-->


  <!--<div class="row" >-->
    <!--<div class="col-md-4">-->
    <!--<div class="col-md-4" style="height: 100px;"></div>-->
    <!--<div class="col-md-4">-->

  <!--</div>-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->

<script>

//    $('.carousel').carousel({
//        interval: false
//    });

    $('.carousel').on('slid', function() {
        $('.carousel').carousel('pause');
        $('.carousel').carousel(3);
        alert('ldldldl');
    });

</script>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class=""></li>
    <li class="active" data-target="#myCarousel" data-slide-to="1"></li>
    <li class="" data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item" style="height: 300px;">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <text font-size="55" x="-40" y="80" style="stroke:none; fill:#000000;" transform="scale(-1, 1) rotate(30)">R</text>
          </svg>
        </div>
      </div>
    </div>
    <div class="item active" style="height: 300px;">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <text font-size="55" x="-40" y="80" style="stroke:none; fill:#000000;" transform="scale(-1, 1) rotate(30)">F</text>
          </svg>
        </div>
      </div>
    </div>
    <div class="item" style="height: 300px;">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <text font-size="55" x="-40" y="80" style="stroke:none; fill:#000000;" transform="scale(-1, 1) rotate(30)">5</text>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <!--<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">-->
    <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
    <!--<span class="sr-only">Previous</span>-->
  <!--</a>-->
  <!--<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">-->
    <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
    <!--<span class="sr-only">Next</span>-->
  <!--</a>-->
</div></div>

<div class="row" >
<div class="col-md-4">

  <a class="" href="#myCarousel" role="button" data-slide="next">
    <span class="" aria-hidden="">Normal</span>
    <!--<span class="sr-only">Previous</span>-->
  </a>

</div>
<div class="col-md-4" style="height: 100px;"></div>
<div class="col-md-4">
  <a class="" href="#myCarousel" role="button" data-slide="next">
    <span class="" aria-hidden="">Backwards</span>
    <!--<span class="sr-only">Next</span>-->
  </a>

</div>

</div>


<%= link_to 'Continue', next_wizard_path, id:"next_btn" %>

<script>

    $('.carousel').carousel({
        interval: false
    });

    $('.carousel').on('slid', function() {
//        $('.carousel').carousel(3);
        alert('ldldldl');
    });

</script>