<!-- Button trigger modal -->
<div class="pull-right" data-intro="Click here for more help" data-position="left">
<button type="button" class="btn btn-warning  pull-right" data-toggle="modal" data-target="#myModal">
  Help
</button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">How to publish data</h4>
      </div>
      <div class="modal-body">
        <p>To get started creating citable data on citeDataLabour from your desktop, follow the steps below:</p>
        <ol style="text-align: left">
          <li>  Click the Create button at the top of the page.</li>
          <li>  Select the dataset you'd like to make citable from your computer.</li>
          <li>  After uploading the dataset you can chose the dataset privacy settings.</li>
          <li>  Click Make to finish uploading to citeDataLabour.</li>
          <!--<li>  Click Make to finish uploading to citeDataLabour. If you set the data privacy setting to Private, just click Save to finish the upload.</li>-->
        </ol>

        <hr>


        <div class="alert alert-warning" role="alert">
          <p>If you are lost or would like to re-start this part of the experiment <strong>Click</strong> the Logo of <strong>cite DataLabour</strong>. The information you had provided would not be lost</p>
        </div>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

