<div class="jumbotron"><img class="pull-right" src=
        "http://www.tinytoes.co.uk/assets/manchester-university-logo.png" width="242">
  <h1>Debrief</h1>
  <p>Thank you for participating. Please helps
    us by sharing this experment with colleagues.</p>
  <a class="twitter-share-button pull-right" data-dnt="true" data-hashtags=
          "planout" data-related="kriztean" data-size="large" data-url=
             "http://seek.cs.man.ac.uk:8080/frame_experiment/" href=
             "https://twitter.com/share">Tweet</a> <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>

</div>
<div class="container">
  <!--<h4>Debrief: Your Performance</h4>-->
  <!--<p>Below is some personalised feedback on your performance in the memory task.-->
    <!--Your memory accuracy was high</p>-->
  <!--<p>You correctly identified 31 of the 40 old words (77%) as "old" and 75 of the-->
    <!--80 new words (93%) as "new".</p>-->
  <!--<p>Well done! You were very good at telling old from new words and made very-->
    <!--few mistakes. Your score is at the top end of the typical range we see in-->
    <!--undergraduates who come to the lab at the University of St Andrews to do-->
    <!--experiments. One of the nice features of this sort of task (called a-->
    <!--'continuous recognition' task) is that it doesn't require you to learn words-->
    <!--separately to being tested on them, but this does make the task difficult. You-->
    <!--should therefore be happy with your memory performance.</p>-->
  <h4>Debrief: The Task</h4>
  <p>This research project was conducted to investigate the effects of an User
    Interface in decision making for scientific data sharing.</p>
  <h4>Storage of Data</h4>
  <p>Electronic data will be stored securely on a computer. Written information
    will be stored in a locked drawer. The information will be used in preparation
    of my dissertation.</p>
  <p>Data will be made anonymous (names and any other information that may
    identify an individual will not be included), so no one will be able to
    recognize who the data belongs to.</p>
  <h4>What should I do if I have concerns about this study?</h4>
  <p>It is up to you to decide whether or not to take part. Please contact us for any concern.</p>
  <h4>Contact details</h4>
  <p>Researchers: Kristian Garza Contact details: <a href=
                                                             "mailto:kristian.garzagutierrez@manchester.ac.uk">kristian.garzagutierrez@manchester.ac.uk</a></p>
  <p><strong>Thanks for participating in the study.</strong> Feel to share the
    link to this experiment <a href=
                                       "http://seek.cs.man.ac.uk:8080/frame_experiment">(http://seek.cs.man.ac.uk:8080/frame_experiment)</a>
    with anyone who may be interested (though we would appreciate it if you didn't
    talk about the demand characteristics manipulation with anyone who hasn't yet
    completed the study).</p>
</div>
<div class="container">
  <div class="row">
    <%= link_to 'Again', frame_experiment_path(:scenario) , class:"btn btn-primary pull-right btn-lg" %><a class="twitter-share-button"
       data-dnt="true" data-hashtags="planout" data-related="kriztean" data-size=
          "large" data-url="http://seek.cs.man.ac.uk:8080/frame_experiment" href=
               "https://twitter.com/share">Tweet</a> <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script> <script src="//platform.linkedin.com/in.js" type="text/javascript">
      lang: en_US
  </script> <script data-counter="top" data-url=
          "http://seek.cs.man.ac.uk:8080/frame_experiment" type="IN/Share"></script></div>
</div>


<script>


//    jQuery('.datepicker').datepicker({
//        format: "mm/yyyy",
//        startView: 1
//    });
</script>




<!--<input data-provide="datepicker">-->


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">-->
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<!--<link rel="stylesheet" href="/resources/demos/style.css">-->
<script>




//    jQuery('.datepicker').datepicker({
//        format: 'mm/dd/yyyy',
//        startDate: '-3d'
//    })
//

//    $(function() {
//        $('.monthYearPicker').datepicker({
//            changeMonth: true,
//            changeYear: true,
//            showButtonPanel: true,
//            dateFormat: 'MM yy'
//        }).focus(function() {
//            var thisCalendar = $(this);
//            $('.ui-datepicker-calendar').detach();
//            $('.ui-datepicker-close').click(function() {
//                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
//                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
//                thisCalendar.datepicker('setDate', new Date(year, month, 1));
//            });
//        });
//    });
</script>
<!--<div>-->
  <!--<label for="myDate">Date :</label>-->
  <!--<input name="myDate" class="monthYearPicker" />-->
<!--</div>-->