
<div class="jumbotron">
  <img src="http://www.tinytoes.co.uk/assets/manchester-university-logo.png" width="242" class="pull-right">

  <h1>Experiment: User Interface effects on Open Science Platforms</h1>
  <p>Help us to shape the implementation of data sharing platforms. We want to empirically investigate the effects of user interfaces on researchers who share data online. We are asking PhDs, Postdocs and Scientists to take part in this short, 10-minute experiment. By participating you earn the chance to get an Amazon Voucher.</p>
  <!-- link_to 'Continue', next_wizard_path, class:"btn btn-success btn-lg" -->
  <a href="http://seek.cs.man.ac.uk:8080/frame_experiment/consent/" class="btn btn-success btn-lg">Continue</a>
</div>


<h1>Participant Information Page</h1>

<p>You are being invited to take part in a research study. Before you decide it is important for you to understand why the research is being done and what it will involve. Please take time to read the following information carefully and discuss it with others if you wish. Please ask if there is anything that is not clear or if you would like more information. Take time to decide whether or not you wish to take part. Thank you for reading this.</p>


<h4>Who will conduct the research?</h4>

<p>Kristian Garza Gutierrez</p>

<p><a href="mailto:kristian.garzagutierrez@manchester.ac.uk">kristian.garzagutierrez@manchester.ac.uk</a></p>

<h4>Title of the research.</h4>

<p>Framing the Web UI in Open Science Platforms</p>

<h4>Why have I been chosen?</h4>

<p>I am inviting students and researchers between the ages of 18 and 80, who produce electronic research outputs (e.g. datasets, mathematical models, computer models, scripts) and are aware of open data sharing policies to take part in the evaluation if they want to.</p>

<h4>What would I be asked to do if I take part?</h4>

<p>You will first provide a small amount of demographic information to help us get a better understanding of the demographics of participants in this study. You will then complete an task in two websites followed by a short questionnaire.During the experiment you will be consecutively presented with two websites. Before being presented with the second website you will be asked to perform a small cognitive activity .For each website you will be asked to perform an task. After performing each task you will be presented a couple of questions about the task you performed.
  During evaluation you will perform a quick cognitive activity (e.g., sums, pattern comparisons, mental rotation tasks).
  At the end of the study you will receive a breakdown of your performance and a full debrief. The whole study is estimated to take up to 15 minutes.</p>

<h4>What happens to the data collected?</h4>

<p>Electronic data will be stored securely on a computer. Written information will be stored in a locked drawer. The information will be used in preparation of my dissertation.</p>

<h4>How is confidentiality maintained?</h4>

<p>Data will be made anonymous (names and any other information that may identify an individual will not be included), so no one will be able to recognize who the data belongs to.</p>

<h4>Will I be paid for participating in the research?</h4>

<p>No</p>

<h4>What is the duration of the research?</h4>

<p>The study will take less than 15 minutes to complete.</p>

<h4>Where will the research be conducted?</h4>

<p>This study can be conducted anywhere with computer with access to web.</p>

<h4>What if I change my mind?</h4>

<p>It is up to you to decide whether or not to take part. If you do decide to take part you will be given this information sheet to keep and be asked to sign a consent form. If you decide to take part you are still free to withdraw at any time without giving a reason and without detriment to yourself.</p>

<h4>Will the outcomes of the research be published?</h4>

<p>The outcomes of the research will be published in my thesis.
  Contact for further information.
  For further information, please contact either myself or my supervisor (details above).</p>

<h4>What if something goes wrong?</h4>

<p>If a participant wants to make a formal complaint about the conduct of the research they should contact the Head of the Research Office, Christie Building, University of Manchester, Oxford Road, Manchester, M13 9PL</p>

<!-- link_to 'Continue', next_wizard_path, class:"btn btn-success btn-lg" -->
<a href="http://seek.cs.man.ac.uk:8080/frame_experiment/consent/" class="btn btn-success btn-lg">Continue</a>