<div class="jumbotron">
  <h1>Overview</h1>
  <ol class="lead" >
    <p>This experiment consists of two website evaluations divided by a small memory activity</p>
    <li>After <strong>reading</strong> these instructions, you will be taken to a page where you will be asked to <strong>enter</strong>  some <mark>information about your background</mark>.</li>
    <li>Then you will be guided to the first part of the website evaluation.</li>
    <!--<li>After, you will be asked to <strong>answer</strong> <mark>4 questions</mark> about the task you just performed.</li>-->
    <li>Next, you will carry out a small <strong>activity</strong> during a break.</li>
    <li>Then you will continue with your second website  evaluation.</li>
    <li>Finally you will be asked to <strong>answer</strong> a small set of more <mark>questions</mark> and then you will be debriefed.</li>


    <!--<li>Then you will be sent to the first website to in which you need to <strong>publish</strong> a <mark>piece of data</mark>. During your visit you are free to explore but all you need to do is to upload a file and select your preferences. You can use-->
      <!--<a  href="/mydataset.csv">-->
      <!--<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> mydataset.csv as a sample.-->

        <!--</a></li>-->
    <!--<li>After, you will be asked to <strong>answer</strong> <mark>4 questions</mark> about the task.</li>-->
    <!--<li>Next, a small cognitive activity will be administrated.</li>-->
    <!--<li>Then you will be sent to the second website to <strong>publish</strong> a piece of <mark>data</mark>. You can use the same file you used before.</li>-->
    <!--<li>Finally you will be asked to <strong>answer</strong> a small set of more <mark>questions</mark> and redirected to your debrief.</li>-->
  </ol>
</div>

<!--<a  href="/mydataset.csv">-->
<!--<button type="button" class="btn btn-danger btn-lg">-->
  <!--<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Download mydataset.csv-->
<!--</button>-->
<!--</a>-->

<%= link_to 'Continue', new_participant_path, class:"btn btn-primary btn-lg" %>
