<div class="jumbotron">
  <h1>Scenario</h1>
</div>



<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-xs-6 col-md-4 lead"><p><strong>Imagine</strong> you are Dr. Alex Draper. You are a Scientist participating in an International European collaboration.</p></div>-->
    <!--<div class="col-xs-6 col-md-4"><img src="/scenario_1.png" alt="Smiley face" width="80%"></div>-->
    <!--<div class="col-xs-6 col-md-4"></div>-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col-xs-6 col-md-4 lead middle"><strong>Imagine</strong> that your institution or funding body has requested that you and your collaborators publish your research data online once you have published your paper.</div>-->
    <!--<div class="col-xs-6 col-md-4"><img src="/scenario_2.png" alt="Smiley face" width="80%"></div>-->
    <!--<div class="col-xs-6 col-md-4"></div>-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col-xs-6 col-md-4 lead middle">Your task for this experiment is to <strong>visit</strong> two websites that are frequently used by other scientists to publish data online and <strong>evaluate</strong> each of them by publishing a file of your 'fictional' research data.</div>-->
    <!--<div class="col-xs-6 col-md-4"><img src="/scenario_3.png" alt="Smiley face" width="80%"></div>-->
    <!--<div class="col-xs-6 col-md-4"></div>-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col-xs-6 col-md-4 lead middle">Please perform the experiment as you would in a<mark>real life scenario</mark>.</div>-->
    <!--<div class="col-xs-6 col-md-4"></div>-->
    <!--<div class="col-xs-6 col-md-4"></div>-->
  <!--</div>-->


<!--</div>-->


<div class="container">
  <div class="row">
    <div class="col-md-3"><img src="/scenario_1.png" alt="Smiley face" width="80%"></div>
    <div class="col-md-3"><img src="/scenario_2.png" alt="Smiley face" width="80%"></div>
    <div class="col-md-3"><img src="/scenario_4" alt="Smiley face" width="80%"></div>
    <div class="col-md-3"><img src="/scenario_3.png" alt="Smiley face" width="80%"></div>
  </div>

  <div class="row">
    <div class="col-md-3 lead middle"><p><strong>Imagine</strong> you are Dr. Alex Draper. You are a Scientist participating in an International European collaboration. <strong>Imagine</strong> you and your collaborators just published a paper on your research.</p></div>
    <div class="col-md-3 lead middle"><strong>Imagine</strong> that your institution or funding body has requested that you and your collaborators publish your research data online once you have published your paper.</div>
    <div class="col-md-3 lead middle"><strong>Assume</strong> that there is a 80% chance that competitors—research groups in your domain from around the globe— will look at your data as soon as is open access.</div>
    <div class="col-md-3 lead middle">Your task for this experiment is to <strong>visit</strong> two websites that are frequently used by other scientists to publish data online and <strong>evaluate</strong> each of them by publishing a file of your 'fictional' research data.</div>
  </div>


  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3 lead middle"></div>
    <div class="col-md-3 lead ">Please perform the experiment as you would in a<mark>real life scenario</mark>.</div>
    <div class="col-md-3 lead middle"><%= link_to 'Continue', next_wizard_path, class:"btn btn-primary btn-lg pull-right" %></div>
  </div>


</div>





