<div class="jumbotron">
  <h1>Scenario</h1>
  <ol class="lead" >
    <ol>
      <li><strong>Imagine</strong> you are a Scientist participating in an International European collaboration.</li>
      <li><strong>Imagine</strong> that you and your collaborators are  requested by your institutions or funding bodies that once you have publish some results you should share your data online.</li>
      <li>Your task is to <strong>visit</strong> two websites that are used  by other scientists to publish data online and <strong>publish</strong> a piece of your 'fictional' research data.</li>
      <li>Please perform the experiment as in a <mark>real life scenario</mark>.</li>
    </ol>

  </ol>
</div>





<%= link_to 'Continue', next_wizard_path, class:"btn btn-primary btn-lg" %>
