<div class="jumbotron">
  <h1>You  are going to the <%= params["website"] %> website</h1>
  <p class="lead">Ready?</p>
  <p><%= link_to 'Start', root_path, class:"btn btn-success btn-lg" %></p>
</div>


