
<h1>Wait please</h1>

<%= form_tag '/frame_experiment/washout', method: :put do %>

    <!--<p>I have never attended an academic course in my entered life</p>-->

    <!--Strongly disagree-->
    <!--<%= range_field(:academic, :agreement, in: 1..5, :step => 1 ) %>-->
    <!--Strongly agree-->
    <img src="http://govizzle.com/images/loading-animation.gif">



    <%= submit_tag  'Continue', class:"btn btn-primary btn-lg" %>

<% end %>
