<style>

    .rotate {

        /* Safari */
        -webkit-transform: rotate(-90deg);

        /* Firefox */
        -moz-transform: rotate(-90deg);

        /* IE */
        -ms-transform: rotate(-90deg);

        /* Opera */
        -o-transform: rotate(-90deg);

        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    }

    backward {
        -moz-transform: rotate(-90deg);
        display: inline-block;
        font-size: 40pt;
        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        transform: scale(-1, 1);
    }
</style>

<p>

In this experiment you will complete a memory test and some mental rotation tasks.

Instructions will be given for the mental rotation tasks first and then the memory test.

Mental Rotation:

In this task you will see an image of a letter (F, G, J, R) or number (2, 4, 5, 7) that is either "Normal" (i.e., the right way round) or is "Backwards" (i.e., a mirror-image of its normal presentation).

Normal:

Backwards:

However, to make your task more difficult the letters or numbers you see may also be rotated from their typical upright presentation.

Your task is to decide whether an image is "Normal" or "Backwards" as quickly as possible.

Here are some examples:
This G is "Normal"...
G0
This R is "Backwards"... (and has been rotated)
R300r
This J is "Normal"... (and has been rotated)
J120
This 2 is "Backwards"... (and has been rotated)
TWO240r
Now you should try a few examples....

In between each example, a fixation point "+" will be shown in the center of the screen for 1 second.

Click 'Next' to continue...

</p>

<p>
  There once was a young lady with pride,<br>
  &#x202e;who ate fourteen green apples and died.<br>
  &#x202d;Within the lamented,<br>
  &#x202e;the apple fermented<br>
  &#x202d;and made cider inside her insides.
</p>

<backward>R</backward>

