<style>

    .rotate {

        /* Safari */
        -webkit-transform: rotate(-90deg);

        /* Firefox */
        -moz-transform: rotate(-90deg);

        /* IE */
        -ms-transform: rotate(-90deg);

        /* Opera */
        -o-transform: rotate(-90deg);

        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    }

    backward {
        display: inline-block;
        font-size: 40pt;
        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        transform: scale(-1, 1);
        -moz-transform: rotate(-90deg);
    }
</style>

<div class="jumbotron">
  <h1>Break Exercise</h1>
  <ol class="lead" >
    <p>
      Instructions will be given for the mental rotation
      tasks first and then the memory test. Mental Rotation: In this task you
      will see an image of a letter (F, G, J, R) or number (2, 4, 5, 7) that
      is either "Normal" (i.e., the right way round) or is "Backwards" (i.e.,
      a mirror-image of its normal presentation).
    </p>

  </ol>
</div>


</div>

<div class="row">
  <h3>
    Normal:
  </h3>

  <div class="" style="height: 100px;"><svg xmlns="http://www.w3.org/2000/svg" width="500" xmlns:xlink="http://www.w3.org/1999/xlink">
    <text font-size="55" x="40" y="60" style="stroke:none; fill:#000000;" transform="">F G J R  2 4 5 7</text>
  </svg></div>
</div>

<div class="row">
  <h3>
    Backwards:
  </h3>

  <div class="" style="height: 100px;"><svg xmlns="http://www.w3.org/2000/svg" width="500" xmlns:xlink="http://www.w3.org/1999/xlink">
    <text font-size="55" x="-400" y="60" style="stroke:none; fill:#000000;" transform="scale(-1, 1)">7 5 2 4 R J G F </text>
  </svg></div>
</div>

<div class="row">
  <p>
    However, to make your task more difficult the letters or numbers you
    see may also be rotated from their typical upright presentation. Your
    task is to decide whether an image is "Normal" or "Backwards" as
    quickly as possible. Here are some examples:
  </p>
</div>

<div class="row">
  <h3>
    This G is "Normal"...
  </h3>

  <div class="col-md-4" style="height: 100px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <text font-size="55" x="40" y="60" style="stroke:none; fill:#000000;" transform="">G</text>
  </svg></div>
</div>


<div class="row">
  <h3>
    This R is "Backwards"... (and has been rotated)
  </h3>

  <div class="col-md-4" style="height: 100px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <text font-size="55" x="-40" y="80" style="stroke:none; fill:#000000;" transform="scale(-1, 1) rotate(30)">R</text>
  </svg></div>
</div>


<div class="row">
  <h3>
    This J is "Normal"... (and has been rotated)
  </h3>

  <div class="col-md-4" style="height: 100px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <text font-size="55" x="60" y="60" style="stroke:none; fill:#000000;" transform="scale(-1, 1) rotate(120)">J</text>
  </svg></div>
</div>


<div class="row">
  <h3>
    This 2 is "Backwards"... (and has been rotated)
  </h3>

  <div class="col-md-4" style="height: 100px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <text font-size="55" x="0" y="-60" style="stroke:none; fill:#000000;" transform="scale(-1, 1) rotate(240)">2</text>
  </svg></div>
</div>


<%= link_to 'Continue', next_wizard_path, id:"next_btn", class:"btn-primary btn-lg" %>
