
<div class="dialog">
  <!--<h1>404</h1>-->
  <h1>Our Experiment is down for a couple hours.</h1>
  <h2>Please come back and try again in the following hours.</h2>
  <p>Click below to send us an email and we will contact you when the Experiment is working again</p>
  <p><a href="mailto:k.garza@manchester.ac.uk?subject=The Experiment was down, contact me!">k.garza@manchester.ac.uk</a></p>
</div>
