<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">


<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->

<!-- Latest compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>

<body>


<div class="container">
<!--<div class="col-md-3"></div>-->
<!--<div class="col-md-6">-->


  <div class="container">
    <div class="row">
  <%= yield :layout %>
    </div>
    <div class="row pull-right">

      <p><a href="http://www.cs.manchester.ac.uk/">University of Manchester. </a>
      Kristian Garza
      <a href="mailto:kristian.garzagutierrez@manchester.ac.uk">kristian.garzagutierrez@manchester.ac.uk
      </a></p>
    </div>
<!--</div>-->
<!--<div class="col-md-3"></div>-->
  </div>

  </div>


</body>

</html>